/*GENERAL*/
body {
  background: linear-gradient(to bottom, #1f1f1f, #343434);
  color: #ffffff;
}

@font-face {
  font-family: 'Eras Bold ITC';
  src: url('/public/assets/fonts/eras-itc-bold.ttf') format('truetype'); /* Ruta relativa */
  font-weight: normal;
  font-style: normal;
}

/* CSS ANAHENNA */
  
/*  escribir codigo aqui  */

/* CSS ANAHENNA */

/* CSS MARIA */

/*  escribir codigo aqui  */

/* CSS MARIA */

/* CSS PAULO */

/*  */
/*  */
/*  */

/*  */
/*  */
/*  */


/* CSS PAULO */
